.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.nav a {
  text-decoration: none;
  color: #1db954;
  font-weight: bold;
  border: 1px solid #1db954;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  background-color: #1db954;
  color: white;
}

h1 {
  color: #1db954;
}

button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #14833b;
}

input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h2 {
  color: #333;
}

.genre-selection {
  margin-top: 20px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.genre.selected {
  background-color: #1db954;
  color: white;
  border-color: #1db954;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #cc0000;
}